@model IEnumerable<APEXA_LICP.Models.Carrier>

@{
    ViewBag.Title = "Carriers";
}

<h2>CARRIERS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
